body {
    font-size: medium;
}

input.default{
    font-size:14px;
    height:inherit;
    width:inherit;
    border:1px solid black;
}

div.parent{
    white-space:nowrap;
}

div.daughter {
    display: inline-block;
}

div.right-daughter {
    /*display: inline-block;*/
    margin-left: 90px;
}
label.data-label{
    color:darkblue;
}

button.default-button {
    font-size:16px;
    width:auto;
    height:40px;
    display: inline-block;
    background-color:black;
    color: white;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
}

    button:hover {
        background-color:greenyellow;
    }

button:active {
    background-color: mediumpurple;
}

li {
    border: 1px solid black;
    list-style-type: none;
}
ul {
    margin-left: 0;
    padding-left: 0;
}

