
<html>
<head>
    <title>Перевод проведён успешно</title>
    <meta charset="utf-8" />
</head>
<body>
    <br /><br />
    <p>Перевод с телефона @ViewBag.MobileNumber на банковскую карту @ViewBag.BankCard на сумму @ViewBag.Sum, был проведён успешно</p>
    <br />
    <p>@Html.ActionLink("Переход в профиль", "Info", "InfoSub")</p>
</body>
</html>

