
<html>
<head>
    <title>Перевод проведён успешно</title>
    <meta charset="utf-8" />
</head>
<body>
    <p>С телефона @ViewBag.IdMobileNumber на телефон @ViewBag.MobileNumberAddressee было переведено @ViewBag.Sum </p>
    <br />
    <p>@Html.ActionLink("Переход в профиль", "Info", "InfoSub")</p>
</body>
</html>
<br />


