
<html>
<head>

</head>
<body>
    <br />
    <p>Телефон @ViewBag.MobileNumber успешно пополнен на: @ViewBag.AmountOfReplenishment рублей</p>
    <p>@Html.ActionLink("Переход в профиль", "Info", "InfoSub")</p>
</body>
</html>
